/* your code here */
*{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background:#00d27f;
  margin:0;
  padding:50px 0;
}

/* MAIN PRODUCT CARD */
.product{
  width:900px;
  margin:auto;
  background:white;
  border-radius:10px;
  padding:30px;
  display:flex;
  gap:40px;
}

/* LEFT SIDE */
.product__photo{
  width:45%;
}

.photo-container{
  background:#b7ff9d;
  border-radius:10px;
  padding:15px;
}

.photo-main img{
  width:100%;
  height:260px;
  object-fit:cover;
}

.photo-album ul{
  list-style:none;
  padding:0;
  margin-top:15px;
  display:flex;
  gap:10px;
}

.photo-album ul li img{
  width:60px;
  height:60px;
  border-radius:6px;
  object-fit:cover;
  cursor:pointer;
}

/* RIGHT SIDE */
.product__info{
  width:50%;
}

.title h1{
  margin:0;
}

.title span{
  color:#777;
  font-size:13px;
}

.price{
  margin:15px 0;
  font-size:32px;
  color:#ff3131;
  font-weight:bold;
}

.variant h3{
  font-size:1
